*{
    box-sizing: border-box;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 47, 47);
}
  
.main {
    flex-grow: 1;
}

.error-container {
    display: block;
    height: 20px;
}

.error-msg {
    color: red;
}